@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 13px 13px;
    color: #212529;
    margin-right: 5px;
    border-bottom: 2px solid rgba(51, 154, 240, 0);
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #d0ebff;
    border-bottom-color: rgba(51, 154, 240, 1);
}

.nav-link.current {
    border-bottom-color: rgba(25, 113, 194, 1);
}

@media (min-width: 768px) {
    .nav {
        font-size: 1.1rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-link {
        padding: 20px 20px;
    }

}



/* More button design */
.nav-icon {
    padding: 0 5px;
    width: 10px;
}

button {
    /*   background-color: #ffffff;
  color: #2a2a2a;
  padding: 15px 15px;
  border: none; */
}

button:hover {
    /* background-color: #d6336c; */
}

.nav-dropdown.is-active {
    display: block;
}

.nav-dropdown {
    margin-top: 10px;
    display: none;
}

@media (min-width: 768px) {
    .nav-dropdown {
        display: inline-block;
        margin-top: 0;
    }

    .with-dropdown {
        display: none;
    }
}