@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
    color: #212529;
    margin-right: 5px;
    border-bottom: 2px solid rgba(51, 154, 240, 0);
    cursor: pointer;
    background-color: #e7e4e5;
        border-radius: 16px;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #e7e4e5;
    border-bottom-color: rgba(51, 154, 240, 1);
}

.nav-link.current {
    border-bottom-color: rgba(25, 113, 194, 1);
}

@media (min-width: 768px) {
    .nav {
        font-size: 1.1rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-link {
        padding: 5px 5px;
    }

}



/* More button design */
.nav-icon {
    padding: 0 5px;
    width: 10px;
}

button {
    /*   background-color: #ffffff;
  color: #2a2a2a;
  padding: 15px 15px;
  border: none; */
}

button:hover {
    /* background-color: #d6336c; */
}

.nav-dropdown.is-active {
    display: block;
}

.nav-dropdown {
    margin-top: 10px;
    display: none;
}

@media (min-width: 768px) {
    .nav-dropdown {
        display: inline-block;
        margin-top: 0;
    }

    .with-dropdown {
        display: none;
    }
}


.selection {
    cursor: pointer;
    position: relative;
    float: left;
    padding: 5px;
    border: #212529 solid 1px;
    margin-right: 10px;
    border-radius: 16px;
        appearance: button;
        background-color: #e7e4e5;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round, sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 10px 10px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        margin: 5px
    }
    
    button {
        cursor: pointer;
    
    
    }
    
    
    
    /* CSS */
    .button-19 {
        appearance: button;
        background-color: #e7e4e5;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        display: inline-block;
        font-family: din-round, sans-serif;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 5px 5px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        height: 50px !important;
    }
    
    .button-19:after {
        background-clip: padding-box;
        background-color: #a5a5a5;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
    }
    
    .button-19:main,
    .button-19:focus {
        user-select: auto;
    }
    
    .button-19:hover:not(:disabled) {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
        background-color: #e7e4e5;
    }
    
    .button-19:disabled {
        cursor: auto;
}